<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>
        <% if (is_home()) { %>
            <%- config.title %>
        <% } else if (is_archive()) { %>
            <%- __('menu.archive') %>
        <% } else if (is_category()) { %>
            <%- __('menu.category') %> - <%- page.category %>
        <% } else if (is_tag()) { %>
            <%- __('menu.tag') %> - <%- page.tag %>
        <% } else { %>
            <%- page.title %>
        <% } %>
    </title>
    <link rel="shortcut icon" href="#"/>

    <link type="text/css" rel="stylesheet" href="<%- theme.Font.LongCang %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.Monda %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.NotoSansSC %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.NotoSerifSC %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.Playball %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.PTMono %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.Roboto %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.RobotoSlab %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.Rosario %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Font.UbuntuMono %>">

    <link type="text/css" rel="stylesheet" href="<%- theme.Style.base %>">
    <link type="text/css" rel="stylesheet" href="<%- theme.Style.code %>">

    <script type="text/javascript" src="<%- theme.Script.jQuery %>"></script>
</head>
<body>
    <%- partial('_partial/cover') %>
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/sidebar') %>
    <%- partial('_partial/search') %>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/config') %>
    <script type="text/javascript" src="<%- theme.Script.index %>"></script>
</body>
</html>