<div id="tools">
    <div class="progressbar-top"></div>
    <link type="text/css" rel="stylesheet" href="<%= theme.Style.aplayer %>">
    <script type="text/javascript" src="<%= theme.Script.aplayer %>"></script>
    <script type="text/javascript" src="<%= theme.Script.meting %>"></script>
    <meting-js id="<%= theme.Meting.id %>" lrcshow="<%= theme.Meting.lrcshow %>" server="<%= theme.Meting.server %>" type="<%= theme.Meting.type %>" fixed="<%= theme.Meting.fixed %>" autoplay="<%= theme.Meting.autoplay %>" loop="<%= theme.Meting.loop %>" order="<%= theme.Meting.order %>" preload="<%= theme.Meting.preload %>" volume="<%= theme.Meting.volume %>" mutex="<%= theme.Meting.mutex %>"></meting-js>
    <div class="wrap-right"></div>
    <div class="loading"></div>
</div>